@media (width <= 910px) {
  #header-learn-more {
    gap: 5px;
    padding: 1rem 1.5rem;
    .header-learn-more__back {
      font-size: 1.5em;
      @media (width <= 768px) {
        font-size: 1em;
        @media (width <= 450px) {
          display: none;
        }
      }
      span {
        display: none;
      }
    }
    .learn-more-title {
      font-size: 0.75em;
      @media (width <= 768px) {
        font-size: 0.5em;
        @media (width <= 450px) {
          font-size: 0.4em;

        }
      }
    }
    .header-learn-more__ig {
      width: 7.5rem;
      height: 7.5rem;
      @media (width <= 768px) {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}




.main-learn-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  font-size: 2rem;

  .learn-more {
    width: min(calc(100vw - 80px), 1200px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional-info {
    margin-top: 3rem;
    width: 650px;
    height: 3.5rem;

    ul {
      display: flex;
      gap: 2rem;
      height: inherit;

      li {
        text-align: center;
        flex: 1;
        height: inherit;
        border-radius: 100vw;

        &.record-company {
          background-color: var(--tema-claro-red);
          opacity: 0.8;
          transition: 0.1s ease;
          &:hover {
            transition: 0.1s ease;
            transform: scale(1.07);
            opacity: 1;
          }

          a {
            color: var(--tema-claro-1);
            text-align: center;
            width: 100%;
            display: grid;
            place-items: center;
            height: 3.5rem;
          }
        }

        &.dates {
          background-color: var(--tema-claro-6);
          color: var(--tema-claro-1);
          text-align: center;
          width: 100%;
          display: grid;
          place-items: center;
          height: 3.5rem;
        }
      }
    }
  }

  .texts {
    margin: 2rem 0;
    padding: 2rem 3rem;
    border: 1px solid;
  }

  article p:not(:nth-child(1)) {
    text-align: justify;
    margin-top: 2rem;
    letter-spacing: 1px;
  }

  .fonts {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    gap: 1rem;
    text-align: end;

    a {
      padding: 1rem;
      border: 1px solid;
    }

    i img {
      height: 4rem;
    }
  }
}
