@media (width <= 910px) {
  #header-learn-more {
    gap: 5px;
    padding: 1rem 1.5rem;
    .header-learn-more__back {
      font-size: 1.5em;
      @media (width <= 768px) {
        font-size: 1em;
        @media (width <= 450px) {
          display: none;
        }
      }
      span {
        display: none;
      }
    }
    .learn-more-title {
      font-size: 0.75em;
      @media (width <= 768px) {
        font-size: 0.5em;
        @media (width <= 450px) {
          font-size: 0.4em;
        }
      }
    }
    .header-learn-more__ig {
      width: 7.5rem;
      height: 7.5rem;
      @media (width <= 768px) {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}

@media (width <= 730px) {
  .additional-info {
    width: 100%;

    ul {
      gap: 2px;
      justify-content: space-evenly;
      li {
        flex: 0;
        min-width: 20rem;
        font-size: 0.8em;
        &.record-company {
          a {
            text-align: center;
            display: grid;
            place-items: center;
            height: 3.5rem;
          }
        }

        &.dates {
          background-color: var(--tema-claro-6);
          color: var(--tema-claro-1);
          text-align: center;
          width: 100%;
          display: grid;
          place-items: center;
          height: 3.5rem;
        }
      }
    }
  }
  .learn-more{
    width: 100svw;
  }
}

@media (width <= 500px) {
  .additional-info {
    ul {
      li {
        min-width: 14rem;
        font-size: 0.55em;
      }
    }
  }
}
